{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "skipBlankLines": 0,
    "max-len": [2, 2000, 2],
    "no-unexpected-multiline": 0,
    "no-return-assign": 0
  }
}
